* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}
body {
  color: #000;
  background-color: #efefef;
  font-size: 16px;
}

p {
  margin: 1em;
  font-weight: 500;
}

.banner {
  color: #fff;
  position: relative;
  height: 30em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6em;
    background-color: #e27802;
    color: #fff;
}

.footer img {
    height: 1em;
}

.values {
  color: #fff;
  position: relative;
  height: 30em;
  background-color: #000;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(./assets/images/values_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.heading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading p {
  font-size: 20px;
  color: #666;
  margin-bottom: 50px;
}

.about-us {
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
}

.about-us img {
  flex: 0 50%;
  max-width: 50%;
  height: auto;
}

.content {
  padding: 35px;
}
.content h2 {
  color: #36455c;
  font-size: 24px;
  margin: 15px 0px;
  text-decoration-line: #36455c;
}

.content p {
  color: #666;
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0px;
}

.navbar {
  background-color: #e27802;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 4em;
  margin: 0.5em;
  margin-left: 2em;
  position: relative;
  float: left;
  cursor: pointer;
}
.navbar ul {
  margin-right: 2em;
}
.navbar ul li {
  font-size: 0.75em;
  list-style: none;
  display: inline-block;
  margin: 0 1em;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #362419;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.banner h1 {
  font-size: 2.5em;
  margin: 0;
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #960018;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #fff;
  color: #960018;
}
.photo-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
}

.photo-box {
  flex: 3;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo-box img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.photo-box p {
  padding: 1em;
  text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 40em;
    padding: 1px;
    align-items: center;
    transform: scale(1.1);
}

.contact-form {
    max-width: 300px;
    margin-right: 20px;
}

label[for="ContactUs"]{
    color: #fff;
    font-size: 2em;
}

input[type="text"]{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

input[type="email"]{
    color: #fff;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 0.875em;
    background: transparent;
    outline: none;
    border: solid 1px #b3aca7;
    border-bottom: none;
    background: #fff;
    background-color: rgba(0,0,0,.5);
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    background: transparent;
    outline: none;
    border-bottom: none;
    background: #fff;
    background-color: rgba(0,0,0,.5);
    color: #fff;
  }


  ::placeholder{
    color:#fff;
    opacity: 1;
  }

#submit {
    width: 100%;
    padding: 10px;
    margin: -5px 0px 0px 0px;
    outline:none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 25px;
    background-color: rgba(0,0,0,.5);
    color: #fff; 
  }

#submit:hover {
    color:#E27802;
}

.contact-box {
    flex: 1;
    padding: 20px;
    max-width: 100%; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    text-align: center;
}


.contact-box {
    flex: 3;
    margin: 20px auto;
    width: 22vh;
    height: 26.3vh;
    max-width: 100%;
    transform: scale(1.2);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: rgba(0,0,0,.5);
    color: #fff; 
    border: solid 1px #b3aca7;
}

.contact-boxes {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contactbg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to cover the entire viewport */
}

  h2{
      font-size: 0.8em;
  }
  
  p{
      font-size: 0.6em;
  }
  
  i{
      color:#E27802;
  }

